[ADMIN]
access_key=minioadmin
secret_key=minioadmin
[DEVELOPER]
access_key=pgO0VQ1EY4em5m0YK7X3
secret_key=7TwdCNOsiEhaFiAZQryfP0C5TzER9AOC0IwWthfn
host=http://127.0.0.1:9000
[CONSUMER]
access_key=HGT1hRWrcs2RsgkiFYMZ
secret_key=8Y0HkwwfQED9UX6BXTE6BgSfaOFV6NPJhHdlr2D3
[PRODUCER]
access_key=MZlls7EF5mf9dQI975lu
secret_key=gRSRep3anAV13PpNWaWwbfdOjET5AtfHWqCA8VEV
